@model UserModel

<form id="AddUserForm">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="field-1" class="control-label">FirstName</label>
                <input type="text" class="form-control" id="field-1" asp-for="FirstName" placeholder="John" />
                <span class="text-danger text-sm" asp-validation-for="FirstName"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="field-2" class="control-label">Lastname</label>
                <input type="text" class="form-control" id="field-2" asp-for="LastName" placeholder="Doe" />
                <span class="text-danger text-sm" asp-validation-for="LastName"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="field-3" class="control-label">Email</label>
                <input type="email" class="form-control" id="field-3" asp-for="EmailAddress" placeholder="email123@gmail.com" />
                <span class="text-danger text-sm" asp-validation-for="EmailAddress"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="field-4" class="control-label">Mobile No</label>
                <input type="tel" class="form-control" id="field-4" asp-for="MobileNo" placeholder="1234567890" />
                <span class="text-danger text-sm" asp-validation-for="MobileNo"></span>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 5px;">
        <div class="col-md-4">
            <div>
                <label>Gender</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="radio radio-info radio-inline">
                <input type="radio" id="inlineRadio1" value="Male" name="Gender"  asp-for="Gender" />
                <label for="inlineRadio1"> Male </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="radio radio-info radio-inline">
                <input type="radio" id="inlineRadio" value="Female" name="Gender" asp-for="Gender"  />
                <label for="inlineRadio"> Female </label>
            </div>
        </div>
        <span class="text-danger text-sm" asp-validation-for="Gender"></span>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="field-7" class="control-label">Password</label>
                <input type="password" asp-for="Password" class="form-control" id="field-7" />
                <span class="text-danger text-sm" asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="field-8" class="control-label">Confirm Password</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" id="field-8" />
                <span class="text-danger text-sm" asp-validation-for="ConfirmPassword"></span>
            </div>
        </div>
    </div>
</form>